<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GM_website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Membershipservlet</display-name>
    <servlet-name>Membershipservlet</servlet-name>
    <servlet-class>com.membership.utill.Membershipservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Membershipservlet</servlet-name>
    <url-pattern>/Membershipservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.hefshine.Filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/SessionFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Feedbackservlet</display-name>
    <servlet-name>Feedbackservlet</servlet-name>
    <servlet-class>com.membership.utill.Feedbackservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedbackservlet</servlet-name>
    <url-pattern>/Feedbackservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contactservlet</display-name>
    <servlet-name>Contactservlet</servlet-name>
    <servlet-class>com.membership.utill.Contactservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contactservlet</servlet-name>
    <url-pattern>/Contactservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Membershipupdateservlet</display-name>
    <servlet-name>Membershipupdateservlet</servlet-name>
    <servlet-class>com.membership.utill.Membershipupdateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Membershipupdateservlet</servlet-name>
    <url-pattern>/Membershipupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Allmembershipservlet</display-name>
    <servlet-name>Allmembershipservlet</servlet-name>
    <servlet-class>com.membership.utill.Allmembershipservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Allmembershipservlet</servlet-name>
    <url-pattern>/Allmembershipservlet</url-pattern>
  </servlet-mapping>
</web-app>